@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.background {
    background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png);
    height: 120vh;
    background-size: cover;
}

.heading {
    color: #ffffff;
    font-family: "Roboto";
    text-align: center;
    background-color: #323f4b;
    height: 40px;
    padding: 15px;


}

.M-padding {
    padding: 20px;
}

.general {
    height: 50px;
    padding: 5px;
    color: #ffffff;
    font-family: "Roboto";
    border-top-left-radius: 5px;
    width:525px;


}

.sender {
    background-color: #47a3f3;
    text-align: right;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;

}

.reciever {
    background-color: #52606d;
    border-collapse: separate;
    border-spacing: 30px;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}