@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.First-card {
    background-color: #fb4e71;
}

.First-card-common {
    padding: 15px;
}

.First-card-heading {

    font-family: "Roboto";
    font-size: 28px;
    color: #ffffff;
    font-weight: bold;
}

.First-card-paragraph {
    font-size: 15px;
    color: #ffffff;
}

.First-card-image {
    padding: 15px;
    height: 185px;
    width: 140px;
}

.Bottom-background {
    background-color: #e6f6ff;
}

.Side-heading {
    color: #323f4b;
    padding: 15px;
    font-size: 17.5px;
    font-weight: 700;
}

.Second-card {
    background-color: #ffffff;
    padding: 15px;

    border-radius: 10px;

}

.Second-card-image {
    height: 140px;
    width: 110px;
}

.Second-card-common {
    padding: 10px;
}

.Second-card-heading {
    color: #323f4b;
    font-size: 17px;
}

.Second-card-paragraph {
    font-size: 15px;
    color: #888888;
}

.Third-card-common {
    margin: 8px;
}

.Third-card-image-common {
    margin: 5px;
}

.Third-card-image-common-paragraph {
    color: #323f4b;
    font-size: 11.6px;
    font-weight: bold;

}

.Bottom-button {
    border-radius: 5px;
}

.Center-buton {
    text-align: center;
}