@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.background {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/codingbg.png");
    background-size: cover;
    height: 100vh;
    background-color: #00000080;
    padding: 60px;
}

.heading {
    color: white;
    font-family: "Bree Serif";
    text-align: left;
    font-size: 40px;
}

.frame {
    width: 360px;
    height: 280px;
    border-style: solid;
    border-color: #48ee59;
    border-width: 6px;
    padding: 25px;
}